.gradle
*.ipr
*.iws
eclipse/
out/
bin/
.idea/
build/
run/

.project
CREDITS-fml.txt
LICENSE
.classpath
.gitattributes
MinecraftForge-Credits.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
RailCraftAesthetics_Client.launch
RailCraftAesthetics_Server.launch
forge-1.12.2-14.23.4.2708-changelog.txt
forge-1.12.2-14.23.4.2708-mdk_Client.launch
forge-1.12.2-14.23.4.2708-mdk_Server.launch